@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary-font: #3e38f5;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@media only screen and (min-width: 768px){
    .bgImage{
        background-image: url(../../public/Login/circle-scatter-2.svg);
    }
}