@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary-font: #3e38f5;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

body {}

.EaseFadeIn {
    animation: FadeIn 1s
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}